.homeCanvas{
    width:100vw;
    height: 100vh;
    max-width:100%;
}

.homeContainer{
    background-color: white;
    padding-top: 4vmax;
    border-radius:0 0 200px 200px;
    border-bottom:200px solid white;
    position: relative;
    z-index:1;
}

.homeContainer > h3{
    text-align: center;
    color:rgba(22,20,20,0.904);
    padding:4vmax;
}

.homeSkills {
    transform: translateY(-200px);
    background-color: hsl(219, 48%, 8%);
    height: 1500px;
    position: relative;
    margin-bottom: -200px;
    padding: 200px;
    box-sizing: border-box;
    perspective: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
  }
  
  .homeSkills > h3 {
    text-align: center;
    color: white;
    margin-bottom: 4vmax;
    font-size: 4vmax;
  }

.homeCubeSkills{
	width:200px;
	height:200px;
  animation: cubeRotation 15s linear infinite;
  transform-style: preserve-3d;
}

.homeCubeSkillsFaces{
	display:flex;
	align-items:center;
	justify-content:center;
	box-shadow:0 0 10px rgb(0,0,0);
	position:absolute;
  width:inherit;
  height: inherit;
  opacity:0.7;
}

.homeCubeSkillsFaces > img{
  width:inherit;
  height: inherit;
}

.homeCubeSkillsFace1 {
  transform: translate3d(0, 0, 150px);
}
.homeCubeSkillsFace2 {
  transform: rotateY(180deg) translate3d(0, 0, 150px);
}
.homeCubeSkillsFace3 {
  transform: rotateY(-90deg) translate3d(0, 0, 150px);
}
.homeCubeSkillsFace4 {
  transform: rotateY(90deg) translate3d(0, 0, 150px);
}
.homeCubeSkillsFace5 {
  transform: rotateX(90deg) translate3d(0, 0, 150px);
}
.homeCubeSkillsFace6 {
  transform: rotateX(-90deg) translate3d(0, 0, 150px);
}

@keyframes cubeRotation{
  to{
    transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
  }
}

.cubeShadow{
  width: 300px;
  height:40px;
  background-color: rgba(255,255,255,0.171);
  border-radius: 50%;
  animation: cubeShadow 1s ease-in-out infinite alternate;
}

@keyframes cubeShadow{
    to{
      transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);;
    }
}

@keyframes cubeShadow{
  to{
    transform: rotateY(-10px);
  }
}